h1{
    
    text-shadow: 2px 2px 4px red,-2px -2px 4px blue;
    text-decoration-thickness: 6px ;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
/* .game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

} */
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px ;
    border: none;    
    box-shadow: 0px 0px 10px 1px blue;
    /* font-size: 8vmin ; */
    color:  red;
    background-color:black ;
}
#reset-button{
   
    box-shadow: 3px 3px 5px red,-3px -3px 5px blue;
}
#newbtn{
    padding: 10px;
    font-size: 15px;
    background-color:black ;
    color: white;
    box-shadow: 2px 2px 2px 3px red,-2px -2px 2px 3px blue;
    border-radius: 15px;
    border: none;
}
@keyframes move{
                from{left:-400px}
                to{left: 400px}

            }
@media screen and (max-width:640px){
    @keyframes move {
        from{left:-50px;}
        to{left:120px;}
        
    }
    
}


#msg{
    color: whitesmoke;
   
    position: relative;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
     
}


.msg-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.hide{
    display: none;
}
.x{
    color: skyblue;
}
.o{
    color: tomato;
}
.x, .o{
    font-weight: bold;
    font-size: 100px;
}







